@import "tailwindcss"; 

@theme inline {
    --font-poppins:var(--font-poppins);
    --font-roboto:var(--font-roboto);
    --font-notoSans:var(--font-notoSans);
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 15s linear infinite;
  animation-play-state: running;
}

.hover\:pause-animation:hover {
  animation-play-state: paused;
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.rotate-y-180 {
  animation: rotateY 800ms forwards;
}

.rotate-y-0 {
  transform: rotateY(0deg);
}

.relative {
  perspective: 1200px;
}
